* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(to left, #f9fbe7, #fff8e1);
}

/* =========== the css for the login page will be here ========= */
.main-login-page {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.main-login-page .center-login-panel {
    background: linear-gradient(to right, #CBCCFF, #CBCCFF);
    height: 400px;
    width: 600px;
    margin-top: 40px;
    border-radius: 10px;
}

.main-login-page .center-login-panel .center-login-panel-title h1 {
    text-align: center;
    text-transform: capitalize;
    color: "#7F4D3E";
    padding-top: 20px;
} 

.main-login-page .center-login-panel .center-login-panel-icon {
    text-align: center;
    font-size: 70px;
    color: "#412728";
    padding-top: 10px;
}