* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0%;
    padding: 0%;
}

/* ================ css for the side navigation will be here =========== */
/* ============== using other fonts here */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&family=Roboto:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&family=Roboto:wght@100;300;400&display=swap');


body {
    background: linear-gradient(to left, #fafafa, #F9EAFF);
}

/* ========== css for the navigation bar */
.top-navigation-bar {
    width: 100%;
    background: linear-gradient(to left, #0078D9, #0050C1);
}

.top-navigation-bar ul {
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
}
.top-navigation-bar ul li {
    padding: 25px 10px;
}
.top-navigation-bar ul li a{
    text-decoration: none;
    font-size: 18px;
    color: white;
    text-transform: capitalize;
    font-family: 'Manrope', sans-serif;
    font-family: 'Roboto', sans-serif;
}


/* ============== css for the jobs page will be here ========= */
.applicant-jobs-page .applicant-jobs-page-title h1 {
    text-align: center;
    padding-top: 30px;
    text-transform: capitalize;
    color: #0050C1;
    font-weight: bold;
}

.applicant-jobs-page .applicant-jobs-page-cards {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}


.applicant-jobs-page .applicant-jobs-page-cards .applicant-jobs-single-card {
    width: 90%;
    height: auto;
    background: linear-gradient(to left, #0050C1, #311B92);
    margin-top: 30px;
    border-radius: 8px;
}

.applicant-jobs-page .applicant-jobs-page-cards .applicant-jobs-single-card .applicant-jobs-single-card-title-icon {
    text-align: center;
    padding-top: 20px;
    font-size: 50px;
    color: #FFB84A;
}
