* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* ================ css for the side navigation will be here =========== */
/* ============== using other fonts here */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&family=Roboto:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&family=Roboto:wght@100;300;400&display=swap');

.main-content-container {
    display: flex;
    flex-flow: row wrap;
}

.side-navigation-area {
    overflow-y: auto;
    height: 100vh;
    width: 15%;
    position: fixed;
}

.content-area {
    width: calc(100% - 15%);
    flex: 1;
    padding-left: 15%; /* Add left padding to accommodate the fixed sidebar */
}

@media only screen and (max-width: 768px) {
    .side-navigation-area {
        width: 100%;
        position: static;
        height: auto;
    }
    .content-area {
        width: 100%;
        padding-left: 0;
    }
}

/* ================ css for the sidebar navigation links */
.side-navigation-panel {
    margin-left: 30px;
    margin-top: 30px;
}
.side-navigation-panel .navigation-item {
    display: flex;
    gap: 8px;
    align-items: center;
}

.side-navigation-area .navigation-item a{
    text-decoration: none;
    color: #212121;
    font-size: 18px;
    padding-top: 19px;
    text-transform: capitalize;
    font-family: 'Manrope', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.side-navigation-area .navigation-item i {
    padding-top: 18px;
    font-size: 20px;
    color: #0050C1;
}

/* ======== the hover effect for the links ======= */
.side-navigation-area .navigation-item a:hover{
    color: #311B92;
}

/* =================== css for the job details panel ===============  */
.main-content-container .content-area .job-details-panel {
    background: linear-gradient(to left, #eeeeee, #eeeeee);
    height: auto;
    border-radius: 9px;
    margin-top: 10px;
}

.main-content-container .content-area .job-details-panel .job-details-panel-title h1 {
    text-align: center;
    padding-top: 30px;
    text-transform: capitalize;
    color: #0050C1;
    font-weight: bold;
}


/* ==================== CSS FOR THE JOB DETAILS FORM ============ */
.main-content-container .content-area .all-job-details-form {
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

.main-content-container .content-area .save-details-button {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
}

.main-content-container .content-area .all-job-details-form .error-message {
    color: red;
    font-weight: bolder;
    padding-left: 10px;
}

.main-content-container .content-area .job-details-panel .success-message-panel {
    display: flex;
    justify-content: center;
    text-align: center;
}


/* ============== css for the interview questions will be here ======== */
.main-content-container .content-area .interview-questions-panel {
    height: auto;
    width: 100%;
    background: linear-gradient(to left, #eeeeee, #eeeeee);
    margin-top: 10px;
    border-radius: 8px;
    margin-bottom: 30px;
}

.main-content-container .content-area .interview-questions-panel-title h1 {
    text-align: center;
    padding-top: 30px;
    text-transform: capitalize;
    color: #0050C1;
    font-weight: bold;
}

.main-content-container .content-area .interview-questions-panel-form {
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

.main-content-container .content-area .interview-questions-panel-form .error-message {
    color: red;
    font-weight: bolder;
    padding-left: 10px;
}

.main-content-container .content-area .interview-questions-panel .success-message-panel {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    text-align: center;
}

/* =========== css for the answers panel ========== */
.main-content-container .content-area .all-answers-panel .all-answers-panel-title h1{
    text-align: center;
    padding-top: 30px;
    text-transform: capitalize;
    color: #0050C1;
    font-weight: bold;   
}

.main-content-container .content-area .all-answers-panel .all-answers-panel-instructions {
    display: flex;
    justify-content: center;
}

.main-content-container .content-area .all-answers-panel .all-answers-panel-instructions .all-answers-panel-card {
    height: auto;
    width: 700px;
    background: linear-gradient(to right, #0050C1, #311B92);
    margin-top: 20px;
    border-radius: 10px;

}

.main-content-container .content-area .all-answers-panel .all-answers-panel-instructions .all-answers-panel-card p {
    color: white;
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}


/*=============== CSS FOR THE ANSWERS PANEL WILL BE HERE ======== */
.main-content-container .content-area .all-answers-panel-form  {
    margin-top: 30px;
}

.main-content-container .content-area .all-answers-panel-form .all-answers-card {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    
}

.main-content-container .content-area .all-answers-panel-form .single-card-answer {
    width: 500px;
    height: auto;
    border: 2px solid #0050C1;
    margin: 10px;
    border-radius: 9px;
}

.main-content-container .content-area .all-answers-panel-form .single-card-answer .single-card-answer-title h1 {
    text-align: center;
    padding-top: 10px;
    text-transform: capitalize;
    color: #0050C1;
}


/* ============== css for the records area will be here ============ */
.main-content-container .content-area .all-records-panel {
    height: auto;
    width: 100%;
    background: linear-gradient(to left, #eeeeee, #eeeeee);
    margin-top: 10px;
    border-radius: 8px;
    margin-bottom: 30px;
}

.main-content-container .content-area .all-records-panel .all-records-panel-title h1 {
    text-align: center;
    padding-top: 30px;
    text-transform: capitalize;
    color: #0050C1;
    font-weight: bold;  
}

.main-content-container .content-area .all-records-panel .all-records-cards {
    display: flex;
    justify-content: center;
    flex-flow:  row wrap;
}

.main-content-container .content-area .all-records-panel .all-records-single-card {
    width: 500px;
    height: auto;
    background: linear-gradient(to left, #0050C1, #311B92);
    margin-top: 40px;
    margin-bottom: 50px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1);
}

.main-content-container .content-area .all-records-panel .all-records-single-card .all-records-single-card-title h1 {
    text-align: center;
    padding-top: 20px;
    color: white;
    text-transform: capitalize;
}

@import url('https://cdn-uicons.flaticon.com/2.1.0/uicons-thin-rounded/css/uicons-thin-rounded.css');

.main-content-container .content-area .all-records-panel .all-records-single-card .all-records-single-card-icon {
    text-align: center;
    padding-top: 40px;
    font-size: 90px;
    color: #E52E6A;
}

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
.main-content-container .content-area .all-records-panel .all-records-single-card .all-records-single-card-details p {
    text-align: center;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 24px;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}